.sectionContainer {
  display: flex;
  flex-direction: column;
  gap: 56px;
  max-width: 1200px;
  padding: 1.5rem;
  margin-left: auto;
  margin-right: auto;
}

@media screen and (min-width: 968px) {
  .sectionContainer {
    flex-direction: row;
  }
}
