.container > * + * {
  margin-top: 1rem;
}

.title {
  font-size: 1.3rem;
  font-weight: 500;
  color: #000000;
}

.text {
  font-size: 0.8rem;
  color: #404040;
}

.span {
  color: #754fe2;
}

.options {
  list-style-type: none; /* Hide default bullet points */
}

.options li:before {
  content: "\2022";
  color: #754fe2;
  font-size: 20px;
  margin-right: 5px;
}
